@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    body{
        background-color: #0CECDD;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1{
        color:darkred;
        text-align: center;
    }
    #formRegistro{
        border-radius: 10px;
        border-style: dashed;
        border-color: tomato;
        border-width: 5px;
        width: 80%;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    label{
        font-weight: bold;
    }
    .declaracion{
        font-weight: normal;
    }
    input[type=text],[type=password],[type=email]{
        border-color: crimson solid 2px; 
        width: 100%;
        line-height: 30px;
        border-radius: 5px;
        padding-left:10 ;
        padding-right: 5px;
        padding-bottom: 6px;
        border-color: rgb(231, 25, 66);
        margin-bottom: 10px ;
    }
    .boton{
        border-radius: 50px;
        padding-left:10 ;
        padding-right: 10px;
        padding-bottom: 5px;
        margin: 10px 10px 10px 10px;
        width: 100%;
        margin: auto;
        background-color: blueviolet;
        margin-bottom: 10px;
    }
